In [3]:
import pandas as pd

C:\Users\deepa\Anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [14]:
data_correct = pd.read_csv("https://raw.githubusercontent.com/SuvroBaner/SaleskenProblemSolving/master/Correct_cities.csv")

In [16]:
data_incorrect = pd.read_csv("https://raw.githubusercontent.com/SuvroBaner/SaleskenProblemSolving/master/Misspelt_cities.csv")

In [39]:
data_correct

                   name               country       id
0          les Escaldes               Andorra  3040051
1      Andorra la Vella               Andorra  3041563
2        Umm al Qaywayn  United Arab Emirates   290594
3        Ras al-Khaimah  United Arab Emirates   291074
4          Khawr Fakkān  United Arab Emirates   291696
...                 ...                   ...      ...
23013          Bulawayo              Zimbabwe   894701
23014           Bindura              Zimbabwe   895061
23015        Beitbridge              Zimbabwe   895269
23016           Epworth              Zimbabwe  1085510
23017       Chitungwiza              Zimbabwe  1106542

[23018 rows x 3 columns]

In [43]:
data_incorrect.shape

(23018, 2)

In [40]:
data_incorrect[data_incorrect['country'] == "India"]

      misspelt_name country
17        Shrīgoada   India
21          Dam Dah   India
26           Letehi   India
36       Chodavarlz   India
46         Rājpīpia   India
...             ...     ...
22964      Bhīlwārp   India
22969    oilakottdi   India
22986     Mānāvadnr   India
22989     Navalgunl   India
23016        Bhīkxi   India

[2443 rows x 2 columns]

In [88]:
good_names = list(data_correct['name'])
names_list = list(data_incorrect['misspelt_name'])

In [89]:
# Define Levenshtein distance function (from the mentioned link)
def levenshtein(s1, s2):
    if len(s1) < len(s2):
        return levenshtein(s2, s1)

    if len(s2) == 0:
        return len(s1)

    previous_row = range(len(s2) + 1)
    for i, c1 in enumerate(s1):
        current_row = [i + 1]
        for j, c2 in enumerate(s2):
            insertions = previous_row[j + 1] + 1 
            deletions = current_row[j] + 1  
            substitutions = previous_row[j] + (c1 != c2)
            current_row.append(min(insertions, deletions, substitutions))
        previous_row = current_row

    return previous_row[-1]

In [ ]:
# Define a function that returns the best match
def get_closest_match(name, real_names):
    levdist = [levenshtein(name, real_name) for real_name in real_names]
    for i in range(len(levdist)):
        if levdist[i] == min(levdist):
            return real_names[i]

# Loops the first list
final_list = [ get_closest_match(name, good_names) for name in names_list ]

In [ ]:
temp_correct = get_closest_match("Raipxr",list(india_correct['name']))

In [ ]:
temp_correct

In [ ]:
id_value = india_correct[india_correct['name']==temp_correct].id.tolist() 
id_value

In [ ]:
correct_count = 0
total_count = len(good_names)
for i in final_list:
    if i in good_names:
        correct_count += 1

In [ ]:
total_count

In [ ]:
correct_count

In [ ]:
india_misspelled[0:50]